<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css"/>
<link rel="icon" type="image/x-icon" href="/images/candy.ico">

<div class="mt-4 p-4 bg-gradient-info text-white">
     <h1><%= title %></h1>
</div>

<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<body>
    <!-- <div class="wrapper"> -->
    <div class="d-flex flex-wrap flex-column flex-sm-column flex-md-row flex-lg-row wrapper">

      <!-- Add idx to forEach so it builds each Modal with it's own index to prevent clashing -->
        <% data.forEach((candies, idx) => { %>
            <div class="note candy-card">
                <% if (candies.inStock) { %>
                    <% console.log(candies.inStock); %>
                    <span class="takenote">It's in Stock!</span>
                <% } %>

                <div class="candy-content">
                    <h3 class="candy-name"><%= candies.name %></h3>
                    <span class="candy-price">$<%= candies.price %></span>
                        
                    <br><br>
                    <img src="/images/<%= candies.image %>" alt="<%= candies.name %>" class="img-fluid candy-img">
                    <% console.log(candies.name); %>
                    <% console.log(candies.image); %>
                    <br><br>

                    <!-- 
                    Modal Button -
                        data-bs-toggle="modal" - Tells bootstrap to open a modal when the button is clicked
                        data-bas-target="#modal<%= idx %>" - Index applied during build to identify the modal
                        aria-labelledby and aria-hidden - Accessibility attributes for things like screen readers, 
                        aria-hidden hides it from accessible feature when not in use
                    -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal<%= idx %>">
                        Sweet Details
                    </button>
                </div>
            </div>
        <% }); %>
    </div>

    <!-- Render all modals after the cards so they're not placed inside transformed card elements -->
    <% data.forEach((candies, idx) => { %>
    <%- include('../partials/candymodal.ejs', { candies, idx }) %>
    <% }); %>

    <%- include('../partials/footer.ejs') %>
</body>
</html>